@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'STIX Two Text', serif;
    color: #222222;
    line-height: 1.4;
}

nav{
    display:flex;
    padding:1% 10%;
    justify-content: space-between;
    align-items:center;
}

.navLinks{
    flex:1;
    text-align:right;
}

.navLinks ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}

.navLinks ul li a{
    margin-top: 5px;
    transition: color 300ms ease;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.12em;
    color:#222222;
    text-decoration:none;
}

.navLinks ul li a:hover{
    color: rgba(72, 72, 72, 0.8);
}

.homeBanner h1{
  font-family: 'WindSong', cursive;
    font-size:70px;
}

.homeBanner{
        margin-bottom:50px;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        color:#fff;
        position:relative;
        overflow:hidden;
        min-height:70vh;
}


.video-bg{
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
}

/*First section homepage */
.text-box{
    text-align:center;
}

.text-box p{
    font-size: 28px;
    text-align: center;
}

.girlLaptop{
    width: 230px;
    margin-bottom: 40px;
}

/* Cream Sections Body */


.section.cream.home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 350px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .section.cream {
    background-color: #f7f6f5;
  }
  
  ._50-img.right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }
  
  ._50-img {
    width: 50%;
   height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  ._50-img img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .content-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center!important;
    align-items: center!important;
  }
  
  ._50-width-home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 46%;
    min-height: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .content-container.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .home-2nd-vid {
    width: 100%!important;
    height: 100%!important;
  }
  
  .w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
    color: white;
  }
  
  ._50-img.right.left {
    z-index: 1;
  }
  
  ._50-img.left {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
  }
  
  ._50-img {
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .content-container.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .section {
    position: relative!important;
    overflow: hidden;
    padding: 0px 40px;
    width:100%;
    height:100%
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  ._50-img {
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .w-background-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
  }
  
  /*Media queries*/
  @media screen and (max-width: 479px){
  .section.cream.home {
    padding-top: 15px;
  }
  }
  
  @media screen and (max-width: 767px){
  .section.cream.home {
      padding-top: 225px;
  }
  }
  
  @media screen and (max-width: 767px){
    .kimberly-h2{
      font-size: 75px;
    }
  }
  
  @media screen and (max-width: 479px){
  ._50-img {
      max-height: 300px;
  }
  }
  
  @media screen and (max-width: 991px){
  ._50-img {
      width: 100%;
      object-position: 50% 100%;
  }
  }
  
  @media screen and (max-width: 479px){
  ._50-width-home {
      width: 100%;
      padding-top: 20px;
  }
  }
  
  @media screen and (max-width: 991px){
  ._50-width-home {
      min-height: 200px;
      margin-bottom: 20px;
  }
  }
  
  @media screen and (max-width: 767px){
  .section {
    padding: 50px 25px;
  }
  }
  
  @media screen and (max-width: 767px){
  ._50-img.right {
      height: 350px;
  }
  }
  
  @media screen and (max-width: 479px){
  ._50-img.right {
    height: 230px;
  }
  }
  
  @media screen and (max-width: 479px){
  ._50-width-home {
    width: 100%;
    padding-top: 20px;
  }
  }
  
  .kimberly-h2{
    font-family: 'Parisienne', cursive;
    font-size:95px;
    color:#958073;
    font-weight:normal;
    transform: rotate(-5deg);
  }
  
  .indent{
    font-family: 'DM Serif Display', serif;
    color:#222222;
    font-weight:normal;
    padding-bottom:15px;
  }
  
  .para{
    font-family: 'DM Serif Display', serif;
    color:#222222;
    font-size:16px;
  }
  
  ._50-text-link{
    font-family: 'DM Serif Display', serif;
    color:#958073!important;
    text-decoration:underline!important;
    text-decoration-color:#958073!important;
    font-weight:normal!important;
  }
  